<!--以下デバッグ-->
<!--<%#= form_with model:book, local:true do |f| %>-->
<%= form_with model:@book, local:true do |f| %>
  <%# if book.errors.any? %>
  <% if @book.errors.any? %>
<!--デバッグここまで-->
    <div id="error_explanation">
<!--以下デバッグ-->
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <!--<h2><%#= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>-->

      <ul>
      <% @book.errors.full_messages.each do |message| %>
      <!--<#% book.errors.full_messages.each do |message| %>-->
<!--デバッグここまで-->
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
